<h1 class="graytitle">Barer</h1>
<% if !@bars.blank? %>
  <ul class="pageitem">
  <% for bar in @bars %>
    <li class="menu"><%= link_to "<span class='name'>#{bar.name.capitalize}</span><span class='arrow'> </span>", bar_path(bar) %></li>
  <% end %>
  </ul>
<% end %>
<ul class="pageitem">
<li class="menu"><%= link_to "<span class='name'>Lägg till ny bar</span><span class='arrow'> </span>", new_bar_path() %></li>
</ul>