<h1>Barer</h1>
<% if !@bars.blank? %>
  <ul>
  <% for bar in @bars %>
    <li><%= link_to bar.name.capitalize, bar_path(bar) %></li>
  <% end %>
  </ul>
<% end %>
<%= link_to "Lägg till ny bar", new_bar_path() %>